*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .tabContainer{
    padding: 50px;
    width: 1200px;
    margin: 0 auto;
    background: linear-gradient(147.19deg, #362A87 -2.99%, #2C2747 82.25%, #4323F1 157.46%);
    border-radius: 26px;
  }
  .boxOfTabs {
    display: flex;
    justify-content: space-evenly;
  }
  
  .tab{
    row-gap: 5px;
    flex-basis: 20%;
  }
  .tab > span{
    row-gap: 15px;
    color: #E7E9F2;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: .5px;
  }

  @media only screen and (max-width: 1250px) {
    .tabContainer{
      padding: 20px;
      width: 800px;
      margin: 0 auto;
      background: linear-gradient(147.19deg, #362A87 -2.99%, #2C2747 82.25%, #4323F1 157.46%);
      border-radius: 26px;
    }

  }

  @media only screen and (max-width: 860px) {
    .tabContainer{
      padding: 20px;
      width: 500px;
      margin: 0 auto;
    }

    .tab{
      flex-basis: 20%;
    }
    .tab > span{
      font-size: 5px;
      letter-spacing: .5px;
    }

  }

  @media only screen and (max-width: 500px) {
    .tabContainer{
      padding: 20px;
      width: 380px;
      margin: 0 auto;
    }

    .tab{
      flex-basis: 20%;
    }
    .tab > span{
      font-size: 5px;
      letter-spacing: .5px;
    }

  }